<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>

<body>

	
    
    
    
    <div ng-app="" ng-init="quantity=1;price=4">
    	
        
        <p>Quantity : <input type="number" ng-model="quantity">   &nbsp;&nbsp;&nbsp; Price : <input type="number" ng-model="price"></p>
        

        
        
        <p>Cost = {{quantity*price}}</p>
        
        
    
    </div>
    
    
    
    
    
    

</body>
</html>
